.card {
  margin: 15px;
  border: 2px solid #ededed;
  padding: 15px;
  cursor: pointer;
}
.card img {
  width: 180px;
  margin-bottom: 1rem;
}
.card-title {
  margin-bottom: 1rem;
  font-size: 23px;
}
.card-price {
  padding: 20px;
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.bag-icon {
  color: #535353;
}
